.wrapper {
  position: relative;
  background-color: #888888;
}

.budget-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 15px;
  row-gap: 7px;
}

.budget-cell_title,
.budget-cell_quantity {
  color: #dddddd;
  font-size: 14px;
}

.card-number {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  font-size: 12px;
  padding: 3px 9px;
  color: #dddddd;
  background-color: #666666;
  transform: translateY(-100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.wrapper:hover .card-number {
  display: block;
}
