.statistics {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 15px;
}

.purchases h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.purchases_list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: hidden;
}
