.card {
  position: relative;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  /* flex: 0 1 auto; */
}

.card_number {
  font-size: 14px;
  font-weight: 700;
}

.card_modal {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #ccc;
  z-index: 1;
  width: max-content;
  padding: 5px 10px;
}

.card:hover .card_modal {
  display: block;
  opacity: 1;
}
