.currency-cell {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #888888;
  width: 150px;
  margin-bottom: 10px;
}

.currency,
.balance {
  font-size: 16px;
  color: #eeeeee;
}
